<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ mtitle }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700|Exo+2:400,400italic,700,700italic,800,800italic&subset=latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div id="main">
        {% block content %} {% endblock %}
    </div>
    <div id="footer">
        <div id="footin">
            <p>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>
            </p>
            <p>
            &copy; 2014 Jirka Vraný
            </p> 
            <p>
            <a href="https://twitter.com/barneyalbert"><img src="{{ url_for('static', filename='img/twitter.png') }}" alt="follow me on twitter" /></a>

            <a href="https://www.google.com/+JirkaVrany"><img src="{{ url_for('static', filename='img/googleplus.png') }}" alt="google plus profile" /></a>
            </p>
        </div>
    </div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-47604740-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>

</html>
